.App {
  text-align: center;
  background: url("https://s3.us-east-2.amazonaws.com/restaurant.ericbutler.info/Restaurant.JPG");
}

.App-logo {
  width: 100%;
}

.App-background {
  background-color: #222;
  padding: 20px;
  color: white;
  position: absolute;
  width: calc(100vw - 40px);
  height: 100vh;
  top: 0;
}

.App-content {
  font-size: large;
  background: white;
  padding: 20px;
  width: calc(100vw - 40px);
  text-align: center;
}

.App-content i {
  font-family: cursive;
}

.slide-in {
  display: block;
  text-align: right;
  padding-right: 7vw;
  animation: slide-in 1 .5s ease-out 0s;
}

@keyframes slide-in {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}
